body {
        background-color: #66BFBF;
           }
hr {
         border-style: none;
         border-top-style: dotted;
         border-color: black;
         border-width: 5px;
         width: 90%;
         background-color: #66BFBF;
         }
